---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Projects from '../components/sections/Projects.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/Footer.astro';
import DownButton from '../components/ui/DownButton.astro';

---

<Layout>
	<Navbar />
	
	<Hero />

	<DownButton />

	<main class="flex flex-col gap-8 p-4 max-w-3xl mx-auto">
		<About />
		<Projects />
		<Contact />
	</main>

	<Footer />
</Layout>
