---

---

<section class="w-full max-w-prose mx-auto pb-8" id="about">
    <p>
        Hi, I'm Thomas Malinovsky, a 19 year-old <b>full-stack developer</b> based in Dublin, Ireland.
        I have a keen interest in programming and have been programming since the age of 11. I build with
        <b>Nuxt</b> and <b>Vue.js</b> and enjoy making apps that turn complex processes into intuitive and
        easy-to-use software. 
    </p>

    <p>
        I pride myself in <b>UX design</b> and love finding ways to make difficult things more easy to interact with.
        Some of my flagship projects are based around this core idea, and seeing the programs I wrote actually help 
        people is what keeps me going and always building out new ideas. 
    </p>

    <p>
        My main technologies are <b>Nuxt</b>/<b>Vue.js</b>, as well as some other libraries in the Vue ecosystem. I have
        past experience with a plethora of programming languages and frameworks as seen below.
    </p>
</section>

<style>
    #about p {
        margin-bottom: 1rem;
    }

    #about p b {
        color: var(--color-olive-100);
    }
</style>