---

---

<footer class="flex flex-row justify-between bg-linear-0 from-olive-950 p-8">
    <div class="flex flex-col">
        <span>© 2026 Thomas Malinovsky</span>
        <a href="https://github.com/ImDarkTom/personal-site">Source on GitHub</a>
    </div>
    <div>
        <a 
        href="https://www.vecteezy.com/vector-art/9302818-vector-autumn-horizontal-landscape-with-fog-forest-spruce-fir-and-morning-sunlight-fall-season-illustration-of-panoramic-view-silhouette-mist-and-mountains-fire-in-the-woods"
        target="_blank"
        rel="noopener noreferrer">
        Hero Image Source
    </a>
    </div>
</footer>