---
import Favicon from "../../public/favicon.svg";
import NavbarItem from "./ui/NavbarItem.astro";
---

<header class="fixed w-full z-10 flex justify-center mt-4">
    <nav class="bg-olive-800 inline-flex gap-4 p-2.5 pr-3 ring ring-inset ring-olive-700 rounded-xl shadow-olive-950 shadow-sm">
        <NavbarItem 
            href="#hero" 
            class="hover:brightness-125">
            <Favicon class="size-6" />
        </NavbarItem>
        <NavbarItem href="#about">
            About
        </NavbarItem>
        <NavbarItem href="#projects">
            Projects
        </NavbarItem>
        <NavbarItem href="#contact">
            Contact
        </NavbarItem>
    </nav>
</header>
