---

---

<div class="fixed w-full z-10 flex justify-center mt-2">
    <nav class="bg-olive-800 inline-flex gap-4 py-2 px-4 ring ring-inset ring-olive-700 rounded-full">
        <a 
            class="tracking-tighter font-black"
            href="#hero">
            TM
        </a>
        <a href="#about">
            About
        </a>
        <a href="#projects">
            Projects
        </a>
        <a href="#contact">
            Contact
        </a>
    </nav>
</div>

<style>
    nav a {
        cursor: pointer;
    }

    nav a:hover {
        color: var(--color-olive-200) !important;
        text-decoration: underline;
    }
</style>

<script>

</script>