---
import HeroText from "../../assets/hero.svg";

---

<div
    id="headline"
    class="text-olive-900 w-full flex flex-col items-center justify-center mt-[28vh] invisible">
    <HeroText
        class="max-w-full px-4 md:px-0 fill-transparent stroke-1 transition-[fill] duration-1250 ease-in"
        id="hero-text"/>
    <span 
        class="[&_b]:text-olive-600 font-medium ">
        Hi, I'm a <b>UX-oriented</b> full-stack developer
    </span>
</div>

<script>
    const heroText = document.querySelector<SVGSVGElement>('#hero-text');
    const headline = document.querySelector<HTMLDivElement>('#headline');

    document.addEventListener('DOMContentLoaded', () => {
        if (!heroText || !headline) return;

        startStroke(heroText);
        headline.classList.remove('invisible');
    });

    function startStroke(element: SVGSVGElement) {
        let count = 0;

        const strokeInterval = setInterval(() => {
            element.setAttribute('stroke-dasharray', `${count} ${50 - count}`);
            
            count++;

            if (count == 40) element.style.fill = 'var(--color-olive-900)';

            if (count >= 50) {
                element.removeAttribute('stroke-dasharray');
                clearInterval(strokeInterval);
            };
        }, 25);
    }
</script>