---
import HeroText from "../../assets/hero.svg";
---

<div
    id="headline"
    class="text-olive-900 w-full flex flex-col items-center justify-center mt-[28vh]">
    <HeroText class="max-w-full px-4 md:px-0" id="hero-text"/>
    <span 
        class="[&_b]:text-olive-600 font-medium" 
        id="hero-subtitle">
        Hi, I'm a <b>UX-oriented</b> full-stack developer
    </span>
</div>

<style>
    #hero-text {
        fill: transparent;
        stroke: var(--color-olive-900);
        stroke-width: 1;
        animation:
            draw 1000ms steps(50) forwards,
            fill 250ms ease-in 750ms forwards;
    }

    @keyframes draw {
        from { stroke-dasharray: 0 50; }
        to   { stroke-dasharray: 50 0; }
    }

    @keyframes fill {
        to { fill: var(--color-olive-900); }
    }

    #hero-subtitle {
        opacity: 0;
        animation: appear 500ms ease-in 750ms forwards;
    }

    @keyframes appear {
        to   { opacity: 1; }
    }

    @media (prefers-reduced-motion: reduce) {
        #hero-text {
            animation: none;
            fill: var(--color-olive-900);
        }

        #hero-subtitle {
            opacity: 1;
            animation: none;
        }
    }
</style>